* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    letter-spacing: 1.5;
    margin: 0;
    padding: 0;

    --font-code: 'Fira Mono', monospace;

    --sand: #E6E5DF;
    --light-grey: #D9D9D9;
    --dark-grey: #323232;
    --black-wash: #0C0C0C;

    /* Light theme */
    --background-color: var(--sand);
    --text-color: var(--black-wash);
    --grey: var(--light-grey);

    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
    width: 420px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

h3 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.3rem;
}

p {
    font-size: 1.05rem;
    font-weight: 400;
}

q {
    font-size: 1.15rem;
    font-style: italic;
    max-width: 460px;
}

cite {
    font-size: 1rem;
}

cite::before {
    content: "— ";
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

ul {
    padding-left: 2rem;
    gap: 0.25rem;
}

table {
    border: 1px solid var(--text-color);
    margin: 1rem 0;
}

th {
    text-align: left;
}

th, td {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--text-color);
}

header {
    position: block;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem;
    gap: 4rem;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

nav ul a {
    font-size: 1.1rem;
    text-decoration: none;
    border: none;
}

nav ul a:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--text-color);
}

strong {
    font-weight: 600;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
    max-width: 920px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 4rem;
    gap: 1rem;
}

card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    padding: 1vh 1.5vh;
}

.logo {
    height: 120px;
    width: 20px;
    background-color: var(--text-color);
    margin: 2rem 0;
}

.photo-frame {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0;
}

.photo-caption {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.main-photo-caption {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 4rem;
}

pre {
    overflow-x: scroll;
    padding-top: 1rem;
}

code {
    color: var(--text-color);
    font-family: var(--font-code);
    background-color: var(--grey);
    padding: 0 1.5rem;
    line-height: 2;
    font-size: 0.8rem;
    margin: 1rem 0;
    width: 100%;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    border: 1px solid var(--text-color);
    background-color: var(--grey);
}

.circle {
    width: 125px;
    height: 125px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    background-color: var(--background-color);
}

.page-size {
    padding-top: 2rem;
}

footer {
    right: 0;
    bottom: 0;
}

footer container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 2rem 4rem;
    border-top: 1px solid var(--text-color);
}

footer container .left, footer container .right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}

footer a {
    text-decoration: none;
    border: none;
}

@media (prefers-color-scheme: dark) {
/* Dark theme */
    body {
        --background-color: var(--black-wash);
        --text-color: var(--sand);
        --grey: var(--dark-grey);
    }
}

@media only screen and (max-width: 920px) {
    h1 {
        font-size: 1.1rem;
        width: 100%;
    }

    h2 {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 0.75rem;
    }

    p {
        font-size: 0.75rem;
    }
    
    q {
        font-size: 0.8rem;
    }
    
    cite {
        font-size: 0.7rem;
    }

    code {
        font-size: 0.75rem;
    }

    nav {
        justify-content: space-between;
        padding: 2rem;
        gap: 0;
    }

    nav ul a {
        font-size: 0.7rem;
        opacity: 1;
    }

    content {
        gap: 0.5rem;
    }

    section {
        padding: 0.5rem 2rem;
    }

    table {
        margin: 0.5rem 0;
    }
    
    th, td {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    ul {
        padding-left: 1rem;
    }

    ul li {
        font-size: 0.75rem;
        padding: 0.15rem 0;
    }

    .main-photo-caption {
        padding: 0 2rem;
    }

    footer container {
        padding: 2rem;
    }

    footer container .right {
        display: none;
    }

    .hide-on-mobile {
        display: none;
    }
}
